extends ../layouts/application.pug

block header
  = t('views.users.usersList')

block content
  .table-responsive
    table.table.table-borderless.table-striped.mt-5
      thead
        tr
          th= t('views.users.fullName')
          th= t('views.users.email')
          th= t('views.users.createdAt')
      tbody
        each user in users
          tr
            td= user.name
            td= user.email
            td= formatDate(user.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-3(href=route('editUser', { id: user.id }))= t('views.users.edit.submit')
                form(action=route('userDelete', { id: user.id }), method = 'post')
                  input(name='_method', type='hidden', value='delete')
                  input.btn.btn-danger(type='submit', value=t('views.users.delete'))