extends ../layouts/application.pug

block header
  = t('views.statuses.statusesList')
block content
  a.btn.btn-primary.mb-5(href=route('newStatus'))= t('views.statuses.createStatus')
  .table-responsive
    table.table.table-borderless.table-striped.mt-5
      thead
        tr
          th= t('views.statuses.name')
          th= t('views.statuses.createdAt')
      tbody
        each status in statuses
          tr
            td= status.name
            td= formatDate(status.createdAt)
            td
              .d-flex.flex-wrap
                a.btn.btn-primary.me-3(href=route('editStatus', { id: status.id }))= t('views.statuses.edit.submit')
                form(action=route('statusDelete', { id: status.id }), method = 'post')
                  input(name='_method', type='hidden', value='delete')
                  input.btn.btn-danger(type='submit', value=t('views.statuses.delete'))