extends ../layouts/layout.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.labels.title')
  a.btn.btn-primary(href='/labels/new')= t('views.labels.createLabel')
  table.table.table-striped.mt-5.bg-white.table-borderless
    thead
      tr
        th= t('views.labels.name')
        th= t('layout.application.createdAt')
        th= t('layout.application.actions')
    tbody
      each label in labels
        tr
          td #{label.name}
          td= formatDate(label.createdAt)
          td
            div.d-flex.flex-wrap
              a.btn.btn-primary.me-1(href='/labels/'+ label.id +'/edit')= t('layout.application.edit')
              form(action='/labels/' + label.id method='post')
                input(name='_method' type='hidden' value='delete')
                input.btn.btn-danger(type='submit' value= t('layout.application.delete'))