- const getInputName = (property) => `data[${property}]`
- const getInputId = (property) => `data_${property}`

mixin input(entity, entityName, propertyName, errors = {})
  - propertyErrors = _.get(errors, propertyName)
  - classLine = 'form-control' + (_.isEmpty(propertyErrors) ? '' : ' is-invalid')
  - inputId = getInputId(propertyName)
  .mb-3.form-floating
    input(
      id= inputId
      name= getInputName(propertyName)
      class= classLine
      placeholder= t('views.'+entityName+'.'+propertyName)
      value= _.get(entity, propertyName, '')
    )&attributes(attributes)
    label(
      for= inputId
    )= t('views.'+entityName+'.'+propertyName)
    if !_.isEmpty(propertyErrors)
      .invalid-feedback= propertyErrors.map(({ message, keyword }) => keyword == 'pattern' ? 'Must be an email format': message).join('. ')