extends ../layouts/layout.pug

block content
  h1.display-4.fw-bold.mt-4= t('views.tasks.title')
  a.btn.btn-primary.mb-5(href='/tasks/new')= t('views.tasks.createTask')
  .card.shadow-sm
    .card-body.p-4
      form(action='/tasks' method='GET')
        .row
          .col-12.col-md
            .input-group.mb-3
              label.input-group-text(for='data_status')= t('layout.application.status')
              select.form-select(id='data_status' name='status')
                option
                each status in statuses
                  - const currentStatus = status.id === filter?.status;
                  option(value=status.id selected=currentStatus ? true : false)= status.name
          .col-12.col-md
            .input-group.mb-3
              label.input-group-text(for='data_executor')= t('layout.application.executor')
              select.form-select(id='data_executor' name='executor')
                option
                each user in users
                  - const currentUser = user.id === filter?.user;
                  option(value=user.id selected=currentUser ? true : false)= user.name
          .col-12.col-md
            .input-group.mb-3
              label.input-group-text(for='data_label')= t('layout.application.label')
              select.form-select(id='data_label' name='label')
                option
                each label in labels
                  - const currentLabel = label.id === filter?.label;
                  option(value=label.id selected=currentLabel ? true : false)= label.name
        .mb-3.form-check
          input.form-check-input(id='data_isCreatorUser' type='checkbox' name='isCreatorUser')
          label.form-check-label(for='data_isCreatorUser')= t('layout.application.selectYourTasks')
        input.btn.btn-primary(type='Submit' value= t('views.tasks.showTasks'))
  if tasks.length > 0
    table.table.table-striped.mt-5.bg-white.table-borderless
      thead
        tr
          th= t('views.tasks.name')
          th= t('views.tasks.description')
          th= t('views.tasks.statusId')
          th= t('views.tasks.creator')
          th= t('views.tasks.executorId')
          th= t('layout.application.createdAt')
          th= t('layout.application.actions')
      tbody
        each task in tasks
          tr
            td: a(href=`tasks/${task.id}`)= task.name
            td #{task.description}
            td #{task.status.name}
            td #{task.creator.firstName} #{task.creator.lastName}
            td #{task.executor.firstName} #{task.executor.lastName}
            td= formatDate(task.createdAt)
            td
              div.d-flex.flex-wrap
                a.btn.btn-primary.me-1(href='/tasks/'+ task.id +'/edit')= t('layout.application.edit')
                form(action='/tasks/' +task.id method='post')
                  input(name='_method' type='hidden' value='delete')
                  input.btn.btn-danger(type='submit' value= t('layout.application.delete'))
  else
    p= t('views.tasks.noTasks')